JWT_SECRET_KEY=".."
JWT_ACCESS_TOKEN_EXPIRES="3600"
REDIS_URL="redis://redis_prod:6379/0"


POSTGRES_PASSWORD=".."
POSTGRES_DB=".."
POSTGRES_USER=".."
POSTGRES_HOST="database_prod"


MAIL_SERVER='smtp.gmail.com'
MAIL_PORT='587'
MAIL_USERNAME=".."
MAIL_PASSWORD=".."
MAIL_DEFAULT_SENDER = 'noreplay@matcha.com'

FRONT_LINK = '..'
VITE_BACKEND_LINK = '../api'
VITE_SOCKET_LINK='..'
PUBLIC_HOST=".."

PUBLIC_BASE_URL=".."
PUBLIC_HOST_redirect='../api/auth/oauth/callback'


GEOIPUPDATE_ACCOUNT_ID=".."
GEOIPUPDATE_LICENSE_KEY=".."
GEOIPUPDATE_EDITION_IDS="GeoLite2-ASN GeoLite2-City GeoLite2-Country"

GEOIP_DB_PATH="/app/data/maxmind/GeoLite2-City.mmdb"

SESSION_SECRET=".."

GITHUB_ID=".."
GITHUB_SECRET=".."