POSTGRES_PASSWORD=""
POSTGRES_DB=""
POSTGRES_USER=""
JWT_SECRET_KEY=""
JWT_ACCESS_TOKEN_EXPIRES="3600"
REDIS_URL="redis://redis:6379/0"


MAIL_SERVER='smtp.gmail.com'
MAIL_PORT='587'
MAIL_USERNAME=  
MAIL_PASSWORD=  
MAIL_DEFAULT_SENDER = 'noreplay@matcha.com'

# Current setup:
FRONT_LINK = 'http://localhost:8081'
VITE_BACKEND_LINK = 'http://localhost:8081/api'
VITE_SOCKET_LINK='http://localhost:8081'


GEOIPUPDATE_ACCOUNT_ID=""
GEOIPUPDATE_LICENSE_KEY=""
GEOIPUPDATE_EDITION_IDS="GeoLite2-ASN GeoLite2-City GeoLite2-Country"

GEOIP_DB_PATH="/app/data/maxmind/GeoLite2-City.mmdb"
PUBLIC_HOST="localhost:8081"

# this is for 'ruby service' cache
# ruby -e "require 'securerandom'; puts SecureRandom.hex(64)"
SESSION_SECRET=""

GITHUB_ID=""
GITHUB_SECRET=""