POSTGRES_PASSWORD=""
POSTGRES_DB=""
POSTGRES_USER=""
JWT_SECRET_KEY=""
JWT_ACCESS_TOKEN_EXPIRES="3600"
REDIS_URL="redis://redis:6379/0"


MAIL_SERVER='smtp.gmail.com'
MAIL_PORT='587'
MAIL_USERNAME=  
MAIL_PASSWORD=  
MAIL_DEFAULT_SENDER = 'noreplay@matcha.com'
FRONT_LINK = 'http://localhost:8081/'