$primary-color: #E6E6E6;
$secondary-color: #DEB0F5;
$text-color: #E6E6E6;

$landing-gradient: linear-gradient(
  135deg,
  #9B38D0 0%,
  #6F368E 43%,
  #532C67 76%,
  #231C27 100%
);

$font-main: 'Montserrat', sans-serif;

$container-max-width: 1200px;
